                
                
<% if (success && success.length > 0) { %>
  <div class="flash-message flash-success">
    <%= success[0] %>
    <span class="flash-close" role="button">&times;</span>
  </div>
<% } %>

<% if (error && error.length > 0) { %>
  <div class="flash-message flash-error">
    <%= error[0] %>
    <span class="flash-close" role="button">&times;</span>
  </div>
<% } %>